<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cheque</title>
    <style>
        pre {outline: 1px solid #ccc; padding: 5px; margin: 5px; }
        .string { color: green; }
        .number { color: darkorange; }
        .boolean { color: blue; }
        .null { color: magenta; }
        .key { color: red; }

    </style>
</head>
<body>
{{ phone }} : {{ code }}<br>
Cheque exists: {{ exists }}
<form action="/cheque" method="POST">
    ФН: <input name="fn" value="{{ fn }}"><br>
    ФД: <input name="fd" value="{{ fd }}"><br>
    ФПД / ФП: <input name="fdp" value="{{ fdp }}"><br>
    Дата и время: <input name="datetime" placeholder="2019-01-01T18:00:00" value="{{ datetime }}"><br>
    Тип: <input name="type" value="1"><br>
    Сумма (в копейка): <input name="sum" value="{{ sum }}"><br>
    <button type="submit">Check</button>
</form>
<div id="json">{{ cheque_info|tojson|safe }}</div>
<script type="application/javascript">


ready = function () {
    function syntaxHighlight(json) {
        json = json.replace(/&/g, '&amp;').replace(/</g, '&lt;').replace(/>/g, '&gt;');
        return json.replace(/("(\\u[a-zA-Z0-9]{4}|\\[^u]|[^\\"])*"(\s*:)?|\b(true|false|null)\b|-?\d+(?:\.\d*)?(?:[eE][+\-]?\d+)?)/g, function (match) {
            var cls = 'number';
            if (/^"/.test(match)) {
                if (/:$/.test(match)) {
                    cls = 'key';
                } else {
                    cls = 'string';
                }
            } else if (/true|false/.test(match)) {
                cls = 'boolean';
            } else if (/null/.test(match)) {
                cls = 'null';
            }
            return '<span class="' + cls + '">' + match + '</span>';
        });
    }

    console.log('test');
    data = JSON.stringify(JSON.parse(document.getElementById('json').innerText), undefined, 4);
    document.getElementById('json').innerHTML = '<pre>' + syntaxHighlight(data) + '</pre>';
};

ready();

</script>
</body>
</html>